* {
  margin: 0;
  padding: 0;
  --adm-color-background: 90deg, rgba(76, 175, 80, 1) 0%,
    rgba(49, 220, 255, 1) 100%;
}

:root {
  margin: 0;
  padding: 0;
  --main-bg-color: brown;
  --main-gradient-color: 90deg, rgba(76, 175, 80, 1) 0%,
    rgba(49, 220, 255, 1) 100%;
}

*,
:root,
html {
  font-family: "Poppins", sans-serif;
}

body {
  background: #081331;
  /* background: radial-gradient(
    150% 46.24% at 23.47% 8.31%,
    #0e3c21 0%,
    #052a25 48.75%,
    #050505 94.67%
  ); */
  background-attachment: fixed;
}

.layout-app {
  background: #050505;
  height: "100vh";
}

.layout-login {
  border: 0 transparent;
  border-radius: 10px;
  background-color: #081331;
  /* background: -moz-linear-gradient(140deg, #4c4eaf 30% 31%) 0%,
    rgb(0, 54, 65) 100%;
  background: -webkit-linear-gradient(
    140deg,
    rgb(76, 78, 175) 0%,
    rgb(0, 54, 65) 100%
  );
  background: -o-linear-gradient(
    140deg,
    rgb(76, 78, 175) 0%,
    rgb(0, 54, 65) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31DCFF', endColorstr='#4c4eaf', GradientType=0);
  background: -ms-linear-gradient(
    140deg,
    rgb(76, 78, 175) 0%,
    rgb(0, 54, 65) 100%
  );
  background: linear-gradient(140deg, rgb(76, 78, 175) 0%, rgb(0, 54, 65) 100%); */
}

.gif-container {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
