* {
  margin: 0;
  padding: 0;
  --adm-color-background: 90deg, rgba(76, 175, 80, 1) 0%,
    rgba(49, 220, 255, 1) 100%;
}

:root {
  margin: 0;
  padding: 0;
  --main-bg-color: brown;
  --main-gradient-color: 90deg, rgba(76, 175, 80, 1) 0%,
    rgba(49, 220, 255, 1) 100%;
}

*,
:root,
html {
  font-family: "Poppins", sans-serif;
}

body {
  background: #081331;
  /* background: radial-gradient(
    150% 46.24% at 23.47% 8.31%,
    #0e3c21 0%,
    #052a25 48.75%,
    #050505 94.67%
  ); */
  /* background-attachment: fixed; */
}

.layout-app {
  background: #050505;
  height: "100vh";
}

.layout-login {
  border: 0 transparent;
  border-radius: 10px;
  background-color: #081331;
  /* background: -moz-linear-gradient(140deg, #4c4eaf 30% 31%) 0%,
    rgb(0, 54, 65) 100%;
  background: -webkit-linear-gradient(
    140deg,
    rgb(76, 78, 175) 0%,
    rgb(0, 54, 65) 100%
  );
  background: -o-linear-gradient(
    140deg,
    rgb(76, 78, 175) 0%,
    rgb(0, 54, 65) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#31DCFF', endColorstr='#4c4eaf', GradientType=0);
  background: -ms-linear-gradient(
    140deg,
    rgb(76, 78, 175) 0%,
    rgb(0, 54, 65) 100%
  );
  background: linear-gradient(140deg, rgb(76, 78, 175) 0%, rgb(0, 54, 65) 100%); */
}

.gif-container {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ///// */

section {
  margin: 0 auto;
  background-color: #f1f1f1;
}
section h1 {
  text-transform: uppercase;
  font-size: 37px;
  text-align: center;
  padding-top: 1em;
  margin-top: 0px;
  color: #b79a6c;
  letter-spacing: 1px;
}
section h1 i {
  font-size: 25px;
  transform: rotate(30deg);
  padding: 15px;
}
section h1 i:nth-child(1) {
  transform: rotate(-30deg);
}
section .content-scroll-horiz {
  width: 70%;
  margin: 0 auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
section .content-scroll-horiz::-webkit-scrollbar {
  height: 7px;
}
section .content-scroll-horiz::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
section .content-scroll-horiz::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}
section .content-scroll-horiz::-webkit-scrollbar-track {
  background: #fff;
}
section .content-scroll-horiz ul {
  display: flex;
  list-style: none;
  text-align: left;
  padding-left: 0px;
}
section .content-scroll-horiz ul li {
  background-color: #fff;
  min-width: 250px;
  margin: 10px 5px 25px 5px;
  display: inline-block;
  padding: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
}
section .content-scroll-horiz ul li a {
  color: #6e6e6e;
  text-decoration-line: none;
  font-size: 23px;
}
section .content-scroll-horiz ul li a div.foto {
  text-align: center;
}
section .content-scroll-horiz ul li a div.foto img {
  max-width: 100%;
  max-height: 250px;
}
section .content-scroll-horiz ul li a h3 {
  text-align: center;
}
@media screen and (max-width: 900px) {
  section .content-scroll-horiz {
    width: 100%;
  }
}
